/* Add here all your CSS customizations */

body {
    font-family: "Source Sans Pro", Arial, sans-serif;
}

a {
    color: #33599b;
}

aside ul.nav-list > li > a {
    font-size: 1em;
}

h5 {
    font-size: 1.1em;
}

#footer {
    padding: 50px 0;
    color: #7f7f7f;
    position: relative; }
#footer .gotop {
    color: #192d4e;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -40px;
    background: transparent;
    z-index: 8;
    width: 80px;
    height: 80px;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
#footer .gotop:hover, #footer .gotop:focus {
    top: -25px;
    text-decoration: none !important; }
#footer .copyright {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0; }

.social {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    width: 100%; }
.social li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; }
.social li a {
    font-size: 16px;
    display: table;
    width: 40px;
    height: 40px;
    margin: 0 4px; }
.social li a i {
    display: table-cell;
    vertical-align: middle; }
.social li a:hover, .social li a:active, .social li a:focus {
    text-decoration: none;
    border-bottom: none; }
.social li a.social-box {
    background: #000;
    color: #fff; }
.social li a.social-circle {
    background: #000;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
.social li a:hover {
    background: #393e46 !important; }
.social.social-box a {
    background: #000;
    color: #fff; }
.social.social-circle a {
    background: #000;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination .page-item.active .page-link {
    background-color: #33599b !important;
    border-color: #33599b;
}

.pagination > a,
.pagination > a:hover,
.pagination > a:focus,
.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #33599b;
}